body{
  margin:0;
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
  color:white;
  text-align:center;
}
#tsparticles {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
  top: 0;
  left: 0;
}

header{
  padding:40px;
  background: rgba(0,0,0,0.5);
}

header h1{
  font-size: 40px;
}

section{
  padding:40px 20px;
}

h2{
  font-size:30px;
  margin-bottom:20px;
}

.card{
  background: rgba(255,255,255,0.1);
  margin:15px auto;
  padding:20px;
  width:80%;
  max-width:400px;
  border-radius:10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.5);
}

input, textarea{
  width:80%;
  padding:10px;
  margin:10px 0;
  border-radius:5px;
  border:none;
}

button{
  padding:10px 20px;
  border:none;
  border-radius:5px;
  background:#38bdf8;
  color:black;
  font-weight:bold;
  cursor:pointer;
}

button:hover{
  background:#0ea5e9;
}

@media (max-width:600px){
  .card{
    width:95%;
  }
  input, textarea{
    width:95%;
  }
}.contact-info {
  margin:20px 0;
  display:flex;
  flex-direction:column;
  gap:15px;
  align-items:center;
}

.info-card {
  background: rgba(255,255,255,0.1);
  padding:15px 20px;
  border-radius:10px;
  width:80%;
  max-width:350px;
  text-align:center;
  font-weight:bold;
  transition:0.3s;
}

.info-card a {
  color:#38bdf8;
  text-decoration:none;
}

.info-card:hover {
  transform:scale(1.05);
  box-shadow:0 10px 20px rgba(0,0,0,0.5);
}

